{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-tailwindcss"]
}
